<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EmployeeManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Welcome</display-name>
    <servlet-name>Welcome</servlet-name>
    <servlet-class>com.aspire.Welcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Welcome</servlet-name>
    <url-pattern>/Welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Failure</display-name>
    <servlet-name>Failure</servlet-name>
    <servlet-class>com.aspire.Failure</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Failure</servlet-name>
    <url-pattern>/Failure</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEmployeeServlet</display-name>
    <servlet-name>AddEmployeeServlet</servlet-name>
    <servlet-class>com.aspire.AddEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployeeServlet</servlet-name>
    <url-pattern>/AddEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Success</display-name>
    <servlet-name>Success</servlet-name>
    <servlet-class>com.aspire.Success</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Success</servlet-name>
    <url-pattern>/Success</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEmployeeServlet</display-name>
    <servlet-name>DeleteEmployeeServlet</servlet-name>
    <servlet-class>com.aspire.DeleteEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEmployeeServlet</servlet-name>
    <url-pattern>/DeleteEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Invalid</display-name>
    <servlet-name>Invalid</servlet-name>
    <servlet-class>com.aspire.Invalid</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Invalid</servlet-name>
    <url-pattern>/Invalid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSuccess</display-name>
    <servlet-name>DeleteSuccess</servlet-name>
    <servlet-class>com.aspire.DeleteSuccess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSuccess</servlet-name>
    <url-pattern>/DeleteSuccess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEmployeeServlet</display-name>
    <servlet-name>UpdateEmployeeServlet</servlet-name>
    <servlet-class>com.aspire.UpdateEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmployeeServlet</servlet-name>
    <url-pattern>/UpdateEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSuccess</display-name>
    <servlet-name>UpdateSuccess</servlet-name>
    <servlet-class>com.aspire.UpdateSuccess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSuccess</servlet-name>
    <url-pattern>/UpdateSuccess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSuccess1</display-name>
    <servlet-name>UpdateSuccess1</servlet-name>
    <servlet-class>com.aspire.UpdateSuccess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSuccess1</servlet-name>
    <url-pattern>/UpdateSuccess1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewEmployeeServlet</display-name>
    <servlet-name>ViewEmployeeServlet</servlet-name>
    <servlet-class>com.aspire.ViewEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewEmployeeServlet</servlet-name>
    <url-pattern>/ViewEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>com.aspire.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Contactus</display-name>
    <servlet-name>Contactus</servlet-name>
    <servlet-class>com.aspire.Contactus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Contactus</servlet-name>
    <url-pattern>/Contactus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegister</display-name>
    <servlet-name>UserRegister</servlet-name>
    <servlet-class>com.aspire.UserRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegister</servlet-name>
    <url-pattern>/UserRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserWelcome</display-name>
    <servlet-name>UserWelcome</servlet-name>
    <servlet-class>com.aspire.UserWelcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserWelcome</servlet-name>
    <url-pattern>/UserWelcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignTaskServlet</display-name>
    <servlet-name>AssignTaskServlet</servlet-name>
    <servlet-class>com.aspire.AssignTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignTaskServlet</servlet-name>
    <url-pattern>/AssignTaskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TaskServlet</display-name>
    <servlet-name>TaskServlet</servlet-name>
    <servlet-class>com.aspire.TaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskServlet</servlet-name>
    <url-pattern>/TaskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LeaveRequestServlet</display-name>
    <servlet-name>LeaveRequestServlet</servlet-name>
    <servlet-class>com.aspire.LeaveRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeaveRequestServlet</servlet-name>
    <url-pattern>/LeaveRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LeaveStatusServlet</display-name>
    <servlet-name>LeaveStatusServlet</servlet-name>
    <servlet-class>com.aspire.LeaveStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeaveStatusServlet</servlet-name>
    <url-pattern>/LeaveStatusServlet</url-pattern>
  </servlet-mapping>
</web-app>